body{
    font-family:georgia;
    font-size:18px;
}
header, footer{
    background-color:rgb(208, 175, 255)
}
.site-title{
    color: rgb(255, 251, 0);
}
#my-image{
    box-shadow:0px 0px 2px 1px #000;
}
#hobby-list :nth-child(2){
    background-color: rgb(217, 255, 0);
}
nav ul :link{
    text-decoration: none;
    background-color:rgb(208, 0, 255);
    border-radius:5px;
}
nav ul :hover{
    color:yellow;
}