body{
    /* background-color: red; */
    /* background-repeat: no-repeat; */
    background-position: center 0px;
    /* background-size: cover; */
}
.wrapper{
    margin: auto;
}
.stage{
    width: 100%;
    background-color: red;
    margin: auto;
}
.prop{
    position: relative;
    text-align: center;
    z-index: 1;
}
.prop header{
    position: relative;
    color: rgb(0, 0, 0);
    top: -100px;
}