/* image wide = 1024 / 341 px */
.stage{
    width: 1024px;
    height: auto;
    background-color: rgb(0, 175, 172);
    margin: auto;
}/*makes the stage width 1024px, height auto, that as background colour and margins auto*/
.prop{
    position: relative;
    text-align: center;
    z-index: 1;
}/*makes prop position relative to stage, text aligned to center, puts the text above everything*/
.prop>nav>ul{
    padding-left: 0;
    text-align: center;
    position: relative;
    width: 100%;
    background-color: rgb(0, 191, 184);
    z-index: 1;
}/*makes the nav unordered list have no padding, text center, relative to prop, width 100%, bkacground colour that and have it above everything else */
nav li{
    display: inline-block;
    margin: 0 10px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 30px;
}/*makes the list block level, margins 10px, padding on left and right 100px and font size 30px*/
.prop>header{
    position: relative;
    color: rgb(0, 0, 0);
    top: -100px;
    font-size: 20px;
}/*makes the prop headers relative to prop, font size 30px, and adds 1% padding*/
.prop>h2{
    text-align: left;
    font-size: 30px;
    padding: 1%;
}/*makes text from h2 in prop aligh left, font size 30px relative to h2, and adds 1% padding*/
.star{
    position: relative;
    float: left;
    width: 350px;
    padding: 10px;
}/*makes small image relitive to prop, floated to the left, width 350px and padding 10px*/
.paras{
    text-align: left;
    font-size: 20px;
    padding: 1%;
}/*makes paragraphs align left, font size 20px and adds 1% padding*/
.form{
    width: 1000px;
    height: auto;
    background-color: rgb(0, 157, 197);
    position: relative;
    margin: auto;
}/*makes the form 1000px wide, auto height, background colour as that, position relative to prop and margins auto*/
#fname, #email, #message{
    width: 99%;
}/*makes the boxes in the form 99% of the width of the form*/
#message{
    height: 150px;
}/*makes the message 150px in height*/