/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





body{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 40px;
}
button{
    font-size: 20px;
}
.wrapper{
    max-width: 760px;
    margin: auto;
    background-color: aqua;/*--------------------------------------------------*/
}
.nav-bar{
    font-size: 20px;
    background-color: #222;
    color: #c78c06;
    padding: 10px;
}
.logo>img{
    float: left;
    z-index: 2;
    clear: left;
}
.nav-bar>nav>ul>li{
    text-align: center;
    padding: 15px;
}
#home{
    padding: 100px 15px 15px 15px;
    background-color: #c78c06;
    color: #222;
}
.search{
    display: flex;
}
.search>input{
    width: 100%;
    font-size: 20px;
    border-radius: 2px;
    height: 25px;
}
.search>button{
    background-color: #222;
    color: #c78c06;
    border-color: #c78c06;
    border-style: solid;
    border-width: 1px;
}
header{
    color: white;
    padding: 100px 0px 100px 0px;
    background-image: url(/images/main-banner.jpg);
    background-size: cover;
    background-position: center;
}
header>h1, header>p, .connect{
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
}
header>h1{
    padding-top: 30px;
    line-height: 83px;
}
header>p{
    line-height: 23px;
    padding: 10px;
}
.connect>button{
    height: 60px;
    background-color: #c78c06;
    border-width: 0px;
    
}
.about{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffe6ac;
}
.about-sec>img{
    width: calc(760px - 20px);
    padding-top: 10px;
}
.about-sec>h1{
    padding-top: 30px;
    padding-bottom: 20px;
}
.about-sec>p{
    line-height: 20px;
    padding-bottom: 20px;
}
.services{
    padding: 10px;
}
.services>div{
    background-color: #ffe6ac;
    padding-bottom: 10px;
}
.services>div>img{
    max-width: calc(760px - 20px);
    padding-top: 20px;
    background-color: white;
}
.services>div>h1{
    padding-bottom: 20px;
}
.services>h1{
    padding-bottom: 20px;
    padding-top: 40px;
}
.services>div>h2{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}
.services>div>p{
    padding-bottom: 10px;
    line-height: 20px;
    padding-left: 10px;
}
.services>div>form{
    padding-left: 10px;
}
.services>div>form>button{
    font-size: 20px;
    background-color: #222;
    color: white;
    padding: 25px 15px 25px 15px;
}
.vision>h1, .vision>p, .vision>.learn{
    padding: 10px;
}
.vision{
    color: white;
    background-image: url(/images/vision.jpg);
    background-position: center;
    background-size: cover;
}
.vision>p{
    line-height: 20px;
}
.learn>button{
    padding: 30px 20px 30px 20px;
    background-color: #222;
    color: white;
    border-style: solid;
    border-color: #c78c06;
    border: 2px;
}
.team>img, .team{
    padding-top: 20px;
}
.team{
    padding-left: 10px;
    padding-right: 10px;
}
.team>img{
    width: calc(760px - 20px);
}
.team>div>h2{
    padding-bottom: 10px;
}
.team>div{
    background-color: #ffe6ac;
    padding: 10px;
}
.team>div>hr{
    color: #c78c06;
    border-style: solid;
    border-color: #c78c06;
}
.team>div>h3{
    font-weight: bold;
}
.team>div>p{
    padding-bottom: 20px;
    line-height: 20px;
}
.contact{
    padding: 0px 10px 10px 10px;
}
.contact>h1{
    padding-top: 70px;
    padding-bottom: 20px;
}
.contact>h2{
    padding-top: 20px;
}
.message>form>input{
    width: calc(760px - 25px);
}
.message>form{
    padding-bottom: 15px;
    padding-top: 2px;
}
.fname{
    padding-top: 15px;
}
.info>input{
    height: 100px;
}
.sub>button{
    background-color: #222;
    color: #c78c06;
    border-style: solid;
}
.location>h2{
    padding-bottom: 20px;
}
.location>iframe{
    width: calc(760px - 20px);
}
.b1{
    grid-area: b1;
}
.b2{
    grid-area: b2;
}
.b3{
    grid-area: b3;
}
.b4{
    grid-area: b4;
}
.b5{
    grid-area: b5;
}
.b6{
    grid-area: b6;
}
.hours>h2{
    grid-area: header;
    padding-bottom: 10px;
}
.b1, .b2{
    background-color: #ffe6ac;
    padding-left: calc(50% - 20px );
    padding-right: calc(50% - 20px);
}
.b1, .b2, .b3, .b4, .b5, .b6{
    border: solid 1px #222;
    padding-top: 15px;
}
.b3, .b4, .b5, .b6{
    background-color: white;
    padding-left: 5px;
}
.hours{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "header ."
    "b1 b2"
    "b3 b5"
    "b4 b6";
}
footer{
    color: #c78c06;
    padding: 20px 10px 20px 10px;
    background-color: #222;
}
@media screen and (min-width: 760px){
    .wrapper{
        max-width: 100%;
        background-color: #222;
    }
    .nav-bar{
        max-width: 1200px;
        margin: auto;
    }
    .nav-bar>nav>ul, .logo>img, .search{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    nav>ul>li{
        padding-left: 30px;
        padding-right: 30px;
    }
    #home{
        padding-top: 15px;
    }
    .search>input{
        width: 200px;
    }
    header>h1, header>p, .connect{
        width: 1200px;
        margin: auto;
    }
    .about{
        padding-bottom: 10px;
    }
    .about-sec{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        width: 1200px;
        margin: auto;
    }
    .about-sec>img{
        width: 600px;
        padding-right: 10px;
    }
    .service-sec{
        background-color: white;
    }
    .services{
        width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto 1fr 1fr;
    }
    .services>h1{
        grid-column: 1 / 7;
        grid-row: 1 / 2;
        grid-row-end: 100px
    }
    .sec-digital{
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }
    .sec-market{
        grid-column: 4 / 7;
        grid-row: 2 / 3;
    }
    .sec-video{
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
    .sec-web{
        grid-column: 3 / 5;
        grid-row: 3 / 4;
    }
    .sec-print{
        grid-column: 5 / 7;
        grid-row: 3 / 4;
    }.services>div>img{
       width: 100%;
       padding-top: 0px;
       background-color: #ffe6ac;
    }
}